@page
@using Microsoft.EntityFrameworkCore
@model IndexModel
@{
 ViewData["Title"] = "Home page";
}

<div>
 <a target="_blank " href="http://www.world-wide-wings.de">
  <img src="~/worldwidewings_logo.jpg" width="200" align="right" /></a>
 <h1>World Wide Wings - Backend</h1>
 <p>
  Öffentliches, ASP.NET Core-basiertes WebAPI mit Flugdaten der fiktiven Fluggesellschaft <a target="_blank " href="http://www.world-wide-wings.de">World Wide Wings</a> für Schulungs- und Testzwecke.
 </p>
 <p><a href="https://www.IT-Visions.de" target="_blank">(C) Dr. Holger Schwichtenberg @DateTime.Now.Year</a></p>

 <p>Runtime: @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription mit Entity Framework Core @ITVisions.EFCore.EFCoreUtil.GetEFCoreVersion().ToString()</p>
 <p>Application Version: @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version</p>

 <p>Database: SQL Azure @(Model.SQLServerVersion)</p>
</div>

@*@if (Model.FlightSet != null)
{
 <div>
  @foreach (var f in Model.FlightSet)
  {
   <div class="row">
    <span class="col">@f.FlightNo</span>
    <span class="col">@f.Departure</span>
    <span class="col">@f.Destination</span>
   </div>
  }
 </div>
}*@

<hr />
<h2>API-Beispiele</h2>

<ul>
 <li>Alle Flughäfen: <a href="/api/airport">/api/Airport</a></li>
 <li>Ein Flug: <a href="/api/flight/101">/api/flight/101</a></li>
 <li>Alle Flüge: <a href="/api/Flight">/api/Flight</a></li>
 <li>Filter auf Abflugort: <a href="/api/flight/Berlin">/api/flight/Berlin</a> oder  
  <a href="/api/flight/departure/Berlin">/api/flight/departure/Berlin</a> </li>
 <li>Filter auf Flugroute:<a href="/api/flight/Berlin/Rome">/api/flight/Berlin/Rome</a> oder 
  <a href="/api/flight/route/Berlin/Rome">/api/flight/rute/Berlin/Rome</a> </li>
 <li>
  Paging mit Abflugort: /<a href="/api/flight/Berlin/ /50/10">api/Flight/Berlin/ /50/10</a> oder
  <a href="/api/flight/query?departure=Berlin&skip=50&take=10">/api/flight/query?departure=Berlin&skip=50&take=10</a>
 </li>
 <li>
  Paging mit Flugroute: <a href="/api/flight/Berlin/Rome/10/5">/api/flight/Berlin/Rome/10/5</a> oder
  <a href="/api/flight/query?departure=Berlin&destination=Rome&skip=10&take=5">/api/flight/query?departure=Berlin&destination=Rome&skip=10&take=5</a>
 </li>
</ul>